.common
{
    width: 50%;
    height: 100vh;
    align-items: stretch;
}

.common img
{
   width: 100%; 
   height: 100%;
   display: flex;
}

.LoginComponent
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.mat-mdc-card-outlined
{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


.master-container
{
    height: 100vh;
    display: flex;
}

.mat-mdc-card-actions{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    min-height: 52px;
    padding: 8px;
    justify-content: center;
}
.mat-mdc-card-content {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
}

p{
    text-align: center;
}