
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-toolbar >Integrity Solution</mat-toolbar>
      <mat-list>
        <mat-list-item>
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>people</mat-icon>
          <span>Manage User</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
  
     <mat-sidenav-content class="content">
      <!-- <mat-toolbar>
        <span>Hi, Lima Taylor 👋</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
          <span>Lima Taylor</span>
        </button>
      </mat-toolbar>
  
      <div class="status-cards">
        <mat-card class="active-card">
          <mat-card-title>Active</mat-card-title>
          <mat-card-content>20</mat-card-content>
        </mat-card>
        <mat-card class="inactive-card">
          <mat-card-title>Inactive</mat-card-title>
          <mat-card-content>300</mat-card-content>
        </mat-card>
      </div>
  
      <div class="user-list">
        <h2>User List</h2>
        
        <mat-paginator [pageSize]="10"></mat-paginator>
      </div>  -->
    </mat-sidenav-content>
  </mat-sidenav-container>