<div class="master-container">
    <div class="common">
        <img src="common.png" alt="" width="100%">
    </div>
    
    <div class="LoginComponent">
        <div class="logo">
            LOGO
        </div>
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Forgot Password</mat-card-title>
                </mat-card-header>
    
                <form [formGroup]="forgotform" (ngSubmit)="forgotconfirm()">
                <mat-card-content>
                    <label>Enter your email address</label>
                    <mat-form-field>
                    <input matInput type="email" placeholder="Enter Email" formControlName="email" required>
                    <mat-error class="error" *ngIf="forgotform.controls['email'].invalid && forgotform.controls['email'].touched"> Invalid Email </mat-error>
                    </mat-form-field>
                </mat-card-content>
    
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">Send Link To My Email</button>
                    <p>Back to Sign-In ?<a mat-button target="_blank" (click)="GoBack()">Go Back</a></p>
                </mat-card-actions>
             </form>
             </mat-card>
        
    </div>
    </div>